@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *:focus { outline: none!important; }
a, a:hover { text-decoration: none; }
[disabled] { opacity: 0.5; pointer-events: none; }
p { margin-bottom: 0; line-height: 1.8em; }
label, button, a { cursor: pointer; user-select: none; }
body { position: relative; min-height: 100vh; overflow-x: hidden; }
hr {
    width: 30px;
    height: 1px;
    background-color: #555;
    border: none;
}
.summary {
    line-height: 1.8em;
    height: calc(1.8em * 3);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;   
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.fit-cover { width: 100%; height: 100%; object-fit: cover; }
.fit-contain { width: 100%; height: 100%; object-fit: contain; }
.d-between { display: flex; justify-content: space-between; align-items: center; }
.d-center { display: flex; justify-content: center; align-items: center; }
.text-ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.keep-all { word-break: keep-all; }
.pre-line { white-space: pre-line; }
.auto-line { white-space: pre-line; }

@media(max-width: 578px) { .auto-line { white-space: normal; } }


.text-red { color: #e22d43!important; }
.text-gray { color: #fffa!important; }
.text-yellow { color: #d6a92c!important; }

.bg-red { background-color: #e22d43!important; }
.bg-gray { background-color: #f7f7f7!important; }
.bg-yellow { background-color: #d6a92c!important; }



.hx-50 { height: 50px!important; }
.hx-100 { height: 100px!important; }
.hx-150 { height: 150px!important; }
.hx-200 { height: 200px!important; }
.hx-250 { height: 250px!important; }
.hx-300 { height: 300px!important; }
.hx-350 { height: 350px!important; }
.hx-400 { height: 400px!important; }



.fx-n3 { font-size: 0.85em; }
.fx-n2 { font-size: 0.9em; }
.fx-n1 { font-size: 0.95em; }

.fx-1 { font-size: 1em; }
.fx-2 { font-size: 1.1em; }
.fx-3 { font-size: 1.2em; }
.fx-4 { font-size: 1.4em; }
.fx-5 { font-size: 1.6em; }
.fx-6 { font-size: 1.8em; }
.fx-7 { font-size: 2em; }
.fx-8 { font-size: 2.5em; }



.background, .background::after, .background > img {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
}
.background { z-index: -1 }
.background::after { content: ''; }
.background--red::after { background-color: #4d2e32d8; }
.background--black::after { background-color: #0008; }
.background > img { object-fit: cover; }



.t-head, .t-row { display: flex; align-items: center; text-align: center; }
.t-head { height: 50px; line-height: 50px; font-size: 0.9em; color: #888; border-bottom: 3px double #ddd; border-top: 1px solid #ddd; }
.t-row { min-height: 50px; border-bottom: 1px solid #ddd; padding: 0.5em 0; }

.cell-10 { flex: 0 0 10%; max-width: 10%; }
.cell-15 { flex: 0 0 15%; max-width: 15%; }
.cell-20 { flex: 0 0 20%; max-width: 20%; }
.cell-25 { flex: 0 0 25%; max-width: 25%; }
.cell-30 { flex: 0 0 30%; max-width: 30%; }
.cell-40 { flex: 0 0 40%; max-width: 40%; }
.cell-50 { flex: 0 0 50%; max-width: 50%; }
.cell-60 { flex: 0 0 60%; max-width: 60%; }
.cell-70 { flex: 0 0 70%; max-width: 70%; }



button {   
    padding: 0.5em 1em;
    font-size: 0.9em;
    border: none;
    background-color: transparent;
}
a[class^="btn"]{
    padding: 0.5em 1em;
    font-size: 0.9em;
}

.btn-filled {
    background-color: #e22d43;
    color: #fff;
    transition: 0.35s;
}
.btn-filled:hover { background-color: #aaa; color: #fff; }

.btn-bordered {
    border: 1px solid #e22d43;
    color: #e22d43;
    transition: 0.35s;
}
.btn-bordered:hover {
    border-color: #aaa;
    color: #aaa;
}


.hoverable { transition: 0.4s; cursor: pointer; }
.hoverable:hover { transition: 0.3s; }

.hoverable-picked:hover { transform: translate(-0.5em, -0.5em) }


.title { font-size: 1.2em; font-weight: 100; }
.icon { width: 2em; height: 2em; line-height: 2em; text-align: center; display: inline-block; margin: 0; padding: 0; }


/* 헤더 영역 */
header {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 80px;
    background-color: #000a;
    z-index: 1030;
}

.nav {
    height: 100%;
    display: flex;
}
.nav__item {
    position: relative;
    padding: 0 1em;
    height: 80px;
    line-height: 80px;
}
.nav__item > a {
    font-size: 0.95em;
    color: #fffc;
}
.nav__list {
    position: absolute;
    top: 100%; left: 50%;
    width: 100%;
    transform: translateX(-50%);
    padding-top: 1em;
    margin-top: -2em;
    opacity: 0;
    pointer-events: none;
    transition: 0.35s;
}
.nav__item:hover > .nav__list {
    margin-top: 0;
    opacity: 1;
    pointer-events: all;
}
.nav__list > a {
    padding-left: 1em;
    display: block;
    height: 40px;
    line-height: 40px;
    width: 100%;
    background-color: #000a;
    font-size: 0.9em;
    color: #fffb;
}
.nav__list > a:first-child {
    border-top: 3px solid #e22d43;
}

.auth >  a {
    font-size: 0.95em;
    color: #fffa;
    margin-left: 1em;
}

/* /헤더 영역 */

/* 사이드바 */
aside {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    z-index: 1500;
    pointer-events: none;
}
#open-aside:checked ~ aside {
    pointer-events: all;
}

.aside__background {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: #000a;
    opacity: 0;
    transition: 0.35s;
}
#open-aside:checked ~ aside .aside__background { opacity: 1; }

.aside__content {
    position: absolute;
    right: 0; top: 0;
    width: 400px; height: 100%;
    background-color: #fff;
    padding: 2em 0;
    margin-right: -400px;
    transition: 0.35s;
}
#open-aside:checked ~ aside .aside__content { margin-right: 0; }

.auth--aside a { color: #888; }

.nav--aside { display: block; margin-top: 2em; }
.nav--aside .nav__item { height: 50px; line-height: 50px; overflow: hidden; transition: 0.35s; }
.nav--aside .nav__item:hover { height: 150px; }
.nav--aside .nav__item > a { color: #333; }
.nav--aside .nav__list { top: 40px; }
.nav--aside .nav__list > a {
    padding-left: 2em;
    color: #888;
    background-color: transparent;
    border: none;
}

/* /사이드바 */

/* 비주얼 */
.visual {
    height: 700px;
    position: relative;
    overflow: hidden;
}
.visual--sub {
    height: 350px;
}
.visual__images img {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.visual__content {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.visual--sub .visual__content {
    margin-top: 40px;
}
.visual__texts {
    position: relative;
    overflow: hidden;
    height: 200px;
}
.visual__texts > .text {
    position: absolute;
    left: 0; top: 0;
    font-size: 2.2em;
    color: #fff;
    font-weight: 100;
}
.visual__texts > .text strong { font-weight: 600; }

.visual__controls {
    display: flex;
    align-items: center;
}
.visual__controls > .control {
    position: relative;
    width: 0.8em;
    height: 0.8em;
    border: 2px solid #fffa;
    border-radius: 50%;
    margin-right: 0.4em;
}
.visual__controls > .control label { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }


@keyframes i-1 {
    0%      { opacity: 1; }
    25%     { opacity: 1; }
    
    33.33%  { opacity: 0; }
    58.33%  { opacity: 0; }

    66.66%  { opacity: 0; }
    91.66%  { opacity: 0; }

    100%   { opacity: 1; }
}
@keyframes i-2 {
    0%      { opacity: 0; }
    25%     { opacity: 0; }
    
    33.33%  { opacity: 1; }
    58.33%  { opacity: 1; }

    66.66%  { opacity: 0; }
    91.66%  { opacity: 0; }

    100%   { opacity: 0; }
}
@keyframes i-3 {
    0%      { opacity: 0; }
    25%     { opacity: 0; }
    
    33.33%  { opacity: 0; }
    58.33%  { opacity: 0; }

    66.66%  { opacity: 1; }
    91.66%  { opacity: 1; }

    100%   { opacity: 0; }
}
@keyframes i-1-copy {
    0%      { opacity: 1; }
    25%     { opacity: 1; }
    
    33.33%  { opacity: 0; }
    58.33%  { opacity: 0; }

    66.66%  { opacity: 0; }
    91.66%  { opacity: 0; }

    100%   { opacity: 1; }
}
@keyframes i-2-copy {
    0%      { opacity: 0; }
    25%     { opacity: 0; }
    
    33.33%  { opacity: 1; }
    58.33%  { opacity: 1; }

    66.66%  { opacity: 0; }
    91.66%  { opacity: 0; }

    100%   { opacity: 0; }
}
@keyframes i-3-copy {
    0%      { opacity: 0; }
    25%     { opacity: 0; }
    
    33.33%  { opacity: 0; }
    58.33%  { opacity: 0; }

    66.66%  { opacity: 1; }
    91.66%  { opacity: 1; }

    100%   { opacity: 0; }
}


@keyframes t-1 {
    0%      { transform: translateX(0); opacity: 1; }
    25%     { transform: translateX(0); opacity: 1; }
    
    33.33%  { transform: translateX(100px); opacity: 0; }
    58.33%  { transform: translateX(100px); opacity: 0; }

    66.66%  { transform: translateX(-100px); opacity: 0; }
    91.66%  { transform: translateX(-100px); opacity: 0; }

    100%   { transform: translateX(0); opacity: 1; }
}
@keyframes t-2 {
    0%      { transform: translateX(-100px); opacity: 0; }
    25%     { transform: translateX(-100px); opacity: 0; }
    
    33.33%  { transform: translateX(0); opacity: 1; }
    58.33%  { transform: translateX(0); opacity: 1; }

    66.66%  { transform: translateX(100px); opacity: 0; }
    91.66%  { transform: translateX(100px); opacity: 0; }

    100%   { transform: translateX(-100px); opacity: 0; }
}
@keyframes t-3 {
    0%      { transform: translateX(100px); opacity: 0; }
    25%     { transform: translateX(100px); opacity: 0; }
    
    33.33%  { transform: translateX(-100px); opacity: 0; }
    58.33%  { transform: translateX(-100px); opacity: 0; }

    66.66%  { transform: translateX(0); opacity: 1; }
    91.66%  { transform: translateX(0); opacity: 1; }

    100%   { transform: translateX(100px); opacity: 0; }
}
@keyframes t-1-copy {
    0%      { transform: translateX(0); opacity: 1; }
    25%     { transform: translateX(0); opacity: 1; }
    
    33.33%  { transform: translateX(100px); opacity: 0; }
    58.33%  { transform: translateX(100px); opacity: 0; }

    66.66%  { transform: translateX(-100px); opacity: 0; }
    91.66%  { transform: translateX(-100px); opacity: 0; }

    100%   { transform: translateX(0); opacity: 1; }
}
@keyframes t-2-copy {
    0%      { transform: translateX(-100px); opacity: 0; }
    25%     { transform: translateX(-100px); opacity: 0; }
    
    33.33%  { transform: translateX(0); opacity: 1; }
    58.33%  { transform: translateX(0); opacity: 1; }

    66.66%  { transform: translateX(100px); opacity: 0; }
    91.66%  { transform: translateX(100px); opacity: 0; }

    100%   { transform: translateX(-100px); opacity: 0; }
}
@keyframes t-3-copy {
    0%      { transform: translateX(100px); opacity: 0; }
    25%     { transform: translateX(100px); opacity: 0; }
    
    33.33%  { transform: translateX(-100px); opacity: 0; }
    58.33%  { transform: translateX(-100px); opacity: 0; }

    66.66%  { transform: translateX(0); opacity: 1; }
    91.66%  { transform: translateX(0); opacity: 1; }

    100%   { transform: translateX(100px); opacity: 0; }
}


@keyframes show-hide {
    0%      { opacity: 0; }
    20%     { opacity: 1; }
    80%     { opacity: 1; }
    100%    { opacity: 0; }
}
@keyframes hide-show {
    0%      { opacity: 1; }
    20%     { opacity: 0; }
    80%     { opacity: 0; }
    100%    { opacity: 1; }
}
@keyframes show-hide-copy {
    0%      { opacity: 0; }
    20%     { opacity: 1; }
    80%     { opacity: 1; }
    100%    { opacity: 0; }
}
@keyframes hide-show-copy {
    0%      { opacity: 1; }
    20%     { opacity: 0; }
    80%     { opacity: 0; }
    100%    { opacity: 1; }
}

@keyframes t-show-hide {
    0%      { transform: translateX(-100px); opacity: 0; }
    20%     { transform: translateX(0); opacity: 1; }
    80%     { transform: translateX(0); opacity: 1; }
    100%    { transform: translateX(100px); opacity: 0; }
}
@keyframes t-hide-show {
    0%      { transform: translateX(0); opacity: 1; }
    20%     { transform: translateX(100px); opacity: 0; }
    80%     { transform: translateX(-100px); opacity: 0; }
    100%    { transform: translateX(0); opacity: 1; }
}
@keyframes t-show-hide-copy {
    0%      { transform: translateX(-100px); opacity: 0; }
    20%     { transform: translateX(0); opacity: 1; }
    80%     { transform: translateX(0); opacity: 1; }
    100%    { transform: translateX(100px); opacity: 0; }
}
@keyframes t-hide-show-copy {
    0%      { transform: translateX(0); opacity: 1; }
    20%     { transform: translateX(100px); opacity: 0; }
    80%     { transform: translateX(-100px); opacity: 0; }
    100%    { transform: translateX(0); opacity: 1; }
}

.visual__images img {
    animation-duration: 12s;
    animation-delay: calc(-12s + 1s);
    animation-iteration-count: infinite;
    opacity: 0;
}

#move-1-2:checked ~ .visual img:nth-child(1) { animation-name: i-3; }
#move-1-2:checked ~ .visual img:nth-child(2) { animation-name: i-1; }
#move-1-2:checked ~ .visual img:nth-child(3) { animation-name: i-2; }

#move-2-3:checked ~ .visual img:nth-child(1) { animation-name: i-2; }
#move-2-3:checked ~ .visual img:nth-child(2) { animation-name: i-3; }
#move-2-3:checked ~ .visual img:nth-child(3) { animation-name: i-1; }

#move-3-1:checked ~ .visual img:nth-child(1) { animation-name: i-1; }
#move-3-1:checked ~ .visual img:nth-child(2) { animation-name: i-2; }
#move-3-1:checked ~ .visual img:nth-child(3) { animation-name: i-3; }

#move-2-1:checked ~ .visual img:nth-child(1) { animation-name: show-hide, i-3; }
#move-2-1:checked ~ .visual img:nth-child(2) { animation-name: hide-show, i-1; }
#move-2-1:checked ~ .visual img:nth-child(3) { animation-name: i-2; }

#move-3-2:checked ~ .visual img:nth-child(1) { animation-name: i-2; }
#move-3-2:checked ~ .visual img:nth-child(2) { animation-name: show-hide, i-3; }
#move-3-2:checked ~ .visual img:nth-child(3) { animation-name: hide-show, i-1; }

#move-1-3:checked ~ .visual img:nth-child(1) { animation-name: hide-show, i-1; }
#move-1-3:checked ~ .visual img:nth-child(2) { animation-name: i-2; }
#move-1-3:checked ~ .visual img:nth-child(3) { animation-name: show-hide, i-3; }

#move-2-1:checked ~ .visual img:nth-child(1),
#move-2-1:checked ~ .visual img:nth-child(2),
#move-3-2:checked ~ .visual img:nth-child(2),
#move-3-2:checked ~ .visual img:nth-child(3),
#move-1-3:checked ~ .visual img:nth-child(1),
#move-1-3:checked ~ .visual img:nth-child(3){
    animation-duration: 5s, 12s;
    animation-delay: 0s, 5s;
    animation-iteration-count: 1, infinite;
}
#move-2-1:checked ~ .visual img:nth-child(3),
#move-3-2:checked ~ .visual img:nth-child(1),
#move-1-3:checked ~ .visual img:nth-child(2) {
    animation-delay: 5s;
}

#move-1-2-copy:checked ~ .visual img:nth-child(1) { animation-name: i-3-copy; }
#move-1-2-copy:checked ~ .visual img:nth-child(2) { animation-name: i-1-copy; }
#move-1-2-copy:checked ~ .visual img:nth-child(3) { animation-name: i-2-copy; }

#move-2-3-copy:checked ~ .visual img:nth-child(1) { animation-name: i-2-copy; }
#move-2-3-copy:checked ~ .visual img:nth-child(2) { animation-name: i-3-copy; }
#move-2-3-copy:checked ~ .visual img:nth-child(3) { animation-name: i-1-copy; }

#move-3-1-copy:checked ~ .visual img:nth-child(1) { animation-name: i-1-copy; }
#move-3-1-copy:checked ~ .visual img:nth-child(2) { animation-name: i-2-copy; }
#move-3-1-copy:checked ~ .visual img:nth-child(3) { animation-name: i-3-copy; }

#move-2-1-copy:checked ~ .visual img:nth-child(1) { animation-name: show-hide-copy, i-3-copy; }
#move-2-1-copy:checked ~ .visual img:nth-child(2) { animation-name: hide-show-copy, i-1-copy; }
#move-2-1-copy:checked ~ .visual img:nth-child(3) { animation-name: i-2-copy; }

#move-3-2-copy:checked ~ .visual img:nth-child(1) { animation-name: i-2-copy; }
#move-3-2-copy:checked ~ .visual img:nth-child(2) { animation-name: show-hide-copy, i-3-copy; }
#move-3-2-copy:checked ~ .visual img:nth-child(3) { animation-name: hide-show-copy, i-1-copy; }

#move-1-3-copy:checked ~ .visual img:nth-child(1) { animation-name: hide-show-copy, i-1-copy; }
#move-1-3-copy:checked ~ .visual img:nth-child(2) { animation-name: i-2-copy; }
#move-1-3-copy:checked ~ .visual img:nth-child(3) { animation-name: show-hide-copy, i-3-copy; }

#move-2-1-copy:checked ~ .visual img:nth-child(1),
#move-2-1-copy:checked ~ .visual img:nth-child(2),
#move-3-2-copy:checked ~ .visual img:nth-child(2),
#move-3-2-copy:checked ~ .visual img:nth-child(3),
#move-1-3-copy:checked ~ .visual img:nth-child(1),
#move-1-3-copy:checked ~ .visual img:nth-child(3){
    animation-duration: 5s, 12s;
    animation-delay: 0s, 5s;
    animation-iteration-count: 1, infinite;
}
#move-2-1-copy:checked ~ .visual img:nth-child(3),
#move-3-2-copy:checked ~ .visual img:nth-child(1),
#move-1-3-copy:checked ~ .visual img:nth-child(2) {
    animation-delay: 5s;
}

.visual__texts .text {
    animation-duration: 12s;
    animation-delay: calc(-12s + 1s);
    animation-iteration-count: infinite;
    opacity: 0;
}


#move-1-2:checked ~ .visual .text:nth-child(1) { animation-name: t-3; }
#move-1-2:checked ~ .visual .text:nth-child(2) { animation-name: t-1; }
#move-1-2:checked ~ .visual .text:nth-child(3) { animation-name: t-2; }

#move-2-3:checked ~ .visual .text:nth-child(1) { animation-name: t-2; }
#move-2-3:checked ~ .visual .text:nth-child(2) { animation-name: t-3; }
#move-2-3:checked ~ .visual .text:nth-child(3) { animation-name: t-1; }

#move-3-1:checked ~ .visual .text:nth-child(1) { animation-name: t-1; }
#move-3-1:checked ~ .visual .text:nth-child(2) { animation-name: t-2; }
#move-3-1:checked ~ .visual .text:nth-child(3) { animation-name: t-3; }

#move-2-1:checked ~ .visual .text:nth-child(1) { animation-name: t-show-hide, t-3; }
#move-2-1:checked ~ .visual .text:nth-child(2) { animation-name: t-hide-show, t-1; }
#move-2-1:checked ~ .visual .text:nth-child(3) { animation-name: t-2; }

#move-3-2:checked ~ .visual .text:nth-child(1) { animation-name: t-2; }
#move-3-2:checked ~ .visual .text:nth-child(2) { animation-name: t-show-hide, t-3; }
#move-3-2:checked ~ .visual .text:nth-child(3) { animation-name: t-hide-show, t-1; }

#move-1-3:checked ~ .visual .text:nth-child(1) { animation-name: t-hide-show, t-1; }
#move-1-3:checked ~ .visual .text:nth-child(2) { animation-name: t-2; }
#move-1-3:checked ~ .visual .text:nth-child(3) { animation-name: t-show-hide, t-3; }

#move-2-1:checked ~ .visual .text:nth-child(1),
#move-2-1:checked ~ .visual .text:nth-child(2),
#move-3-2:checked ~ .visual .text:nth-child(2),
#move-3-2:checked ~ .visual .text:nth-child(3),
#move-1-3:checked ~ .visual .text:nth-child(1),
#move-1-3:checked ~ .visual .text:nth-child(3){
    animation-duration: 5s, 12s;
    animation-delay: 0s, 5s;
    animation-iteration-count: 1, infinite;
}
#move-2-1:checked ~ .visual .text:nth-child(3),
#move-3-2:checked ~ .visual .text:nth-child(1),
#move-1-3:checked ~ .visual .text:nth-child(2) {
    animation-delay: 5s;
}


#move-1-2-copy:checked ~ .visual .text:nth-child(1) { animation-name: t-3-copy; }
#move-1-2-copy:checked ~ .visual .text:nth-child(2) { animation-name: t-1-copy; }
#move-1-2-copy:checked ~ .visual .text:nth-child(3) { animation-name: t-2-copy; }

#move-2-3-copy:checked ~ .visual .text:nth-child(1) { animation-name: t-2-copy; }
#move-2-3-copy:checked ~ .visual .text:nth-child(2) { animation-name: t-3-copy; }
#move-2-3-copy:checked ~ .visual .text:nth-child(3) { animation-name: t-1-copy; }

#move-3-1-copy:checked ~ .visual .text:nth-child(1) { animation-name: t-1-copy; }
#move-3-1-copy:checked ~ .visual .text:nth-child(2) { animation-name: t-2-copy; }
#move-3-1-copy:checked ~ .visual .text:nth-child(3) { animation-name: t-3-copy; }

#move-2-1-copy:checked ~ .visual .text:nth-child(1) { animation-name: t-show-hide-copy, t-3-copy; }
#move-2-1-copy:checked ~ .visual .text:nth-child(2) { animation-name: t-hide-show-copy, t-1-copy; }
#move-2-1-copy:checked ~ .visual .text:nth-child(3) { animation-name: t-2-copy; }

#move-3-2-copy:checked ~ .visual .text:nth-child(1) { animation-name: t-2-copy; }
#move-3-2-copy:checked ~ .visual .text:nth-child(2) { animation-name: t-show-hide-copy, t-3-copy; }
#move-3-2-copy:checked ~ .visual .text:nth-child(3) { animation-name: t-hide-show-copy, t-1-copy; }

#move-1-3-copy:checked ~ .visual .text:nth-child(1) { animation-name: t-hide-show-copy, t-1-copy; }
#move-1-3-copy:checked ~ .visual .text:nth-child(2) { animation-name: t-2-copy; }
#move-1-3-copy:checked ~ .visual .text:nth-child(3) { animation-name: t-show-hide-copy, t-3-copy; }

#move-2-1-copy:checked ~ .visual .text:nth-child(1),
#move-2-1-copy:checked ~ .visual .text:nth-child(2),
#move-3-2-copy:checked ~ .visual .text:nth-child(2),
#move-3-2-copy:checked ~ .visual .text:nth-child(3),
#move-1-3-copy:checked ~ .visual .text:nth-child(1),
#move-1-3-copy:checked ~ .visual .text:nth-child(3){
    animation-duration: 5s, 12s;
    animation-delay: 0s, 5s;
    animation-iteration-count: 1, infinite;
}
#move-2-1-copy:checked ~ .visual .text:nth-child(3),
#move-3-2-copy:checked ~ .visual .text:nth-child(1),
#move-1-3-copy:checked ~ .visual .text:nth-child(2) {
    animation-delay: 5s;
}



@keyframes label-1 {
    0%      { z-index: 1; }
    25%     { z-index: 1; }
    
    33.33%  { z-index: -1; }
    58.33%  { z-index: -1; }

    66.66%  { z-index: -1; }
    91.66%  { z-index: -1; }

    100%    { z-index: 11; }
}
@keyframes label-2 {
    0%      { z-index: -1; }
    25%     { z-index: -1; }
    
    33.33%  { z-index: 1; }
    58.33%  { z-index: 1; }

    66.66%  { z-index: -1; }
    91.66%  { z-index: -1; }

    100%    { z-index: -1; }
}
@keyframes label-3 {
    0%      { z-index: -1; }
    25%     { z-index: -1; }
    
    33.33%  { z-index: -1; }
    58.33%  { z-index: -1; }

    66.66%  { z-index: 1; }
    91.66%  { z-index: 1; }

    100%    { z-index: -1; }
}
.visual__controls .control label {
    animation-duration: 12s;
    animation-delay: calc(-12s + 1s);
    animation-iteration-count: infinite;
    z-index: -1;
}

#move-2-1:checked ~ .visual .label-1-copy  { animation-name: label-1 }
#move-2-1:checked ~ .visual .label-2-copy  { animation-name: label-2 }
#move-2-1:checked ~ .visual .label-3-copy  { animation-name: label-3 }
#move-3-1:checked ~ .visual .label-1-copy  { animation-name: label-1 }
#move-3-1:checked ~ .visual .label-2-copy  { animation-name: label-2 }
#move-3-1:checked ~ .visual .label-3-copy  { animation-name: label-3 }

#move-1-2:checked ~ .visual .label-1-copy  { animation-name: label-3 }
#move-1-2:checked ~ .visual .label-2-copy  { animation-name: label-1 }
#move-1-2:checked ~ .visual .label-3-copy  { animation-name: label-2 }
#move-3-2:checked ~ .visual .label-1-copy  { animation-name: label-3 }
#move-3-2:checked ~ .visual .label-2-copy  { animation-name: label-1 }
#move-3-2:checked ~ .visual .label-3-copy  { animation-name: label-2 }

#move-2-3:checked ~ .visual .label-1-copy  { animation-name: label-2 }
#move-2-3:checked ~ .visual .label-2-copy  { animation-name: label-3 }
#move-2-3:checked ~ .visual .label-3-copy  { animation-name: label-1 }
#move-1-3:checked ~ .visual .label-1-copy  { animation-name: label-2 }
#move-1-3:checked ~ .visual .label-2-copy  { animation-name: label-3 }
#move-1-3:checked ~ .visual .label-3-copy  { animation-name: label-1 }

#move-2-1-copy:checked ~ .visual .label-1  { animation-name: label-1 }
#move-2-1-copy:checked ~ .visual .label-2  { animation-name: label-2 }
#move-2-1-copy:checked ~ .visual .label-3  { animation-name: label-3 }
#move-3-1-copy:checked ~ .visual .label-1  { animation-name: label-1 }
#move-3-1-copy:checked ~ .visual .label-2  { animation-name: label-2 }
#move-3-1-copy:checked ~ .visual .label-3  { animation-name: label-3 }

#move-1-2-copy:checked ~ .visual .label-1  { animation-name: label-3 }
#move-1-2-copy:checked ~ .visual .label-2  { animation-name: label-1 }
#move-1-2-copy:checked ~ .visual .label-3  { animation-name: label-2 }
#move-3-2-copy:checked ~ .visual .label-1  { animation-name: label-3 }
#move-3-2-copy:checked ~ .visual .label-2  { animation-name: label-1 }
#move-3-2-copy:checked ~ .visual .label-3  { animation-name: label-2 }

#move-2-3-copy:checked ~ .visual .label-1  { animation-name: label-2 }
#move-2-3-copy:checked ~ .visual .label-2  { animation-name: label-3 }
#move-2-3-copy:checked ~ .visual .label-3  { animation-name: label-1 }
#move-1-3-copy:checked ~ .visual .label-1  { animation-name: label-2 }
#move-1-3-copy:checked ~ .visual .label-2  { animation-name: label-3 }
#move-1-3-copy:checked ~ .visual .label-3  { animation-name: label-1 }


#s-pause:checked ~ .visual .pause { display: none; }
#s-pause:not(:checked) ~ .visual .play { display: none; }
#s-pause:checked ~ .visual img { animation-play-state: paused; }
#s-pause:checked ~ .visual .text { animation-play-state: paused; }
#s-pause:checked ~ .visual label { animation-play-state: paused; }

/* /비주얼 */

/* 후원사 */
.company {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.company > img {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    padding: 1em;
    object-fit: cover;
}

@media(max-width: 992px){ 
    .company {
        position: relative;
        height: 100px;
    }

    .company > img {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        flex: 0 0 300px;
        max-width: 300px;
        animation: company 24s infinite;
    }

    .company > img:nth-child(1) { animation-delay: -3s; }
    .company > img:nth-child(3) { animation-delay: calc(-3s * 2); }
    .company > img:nth-child(4) { animation-delay: calc(-3s * 3); }
    .company > img:nth-child(5) { animation-delay: calc(-3s * 4); }
    .company > img:nth-child(6) { animation-delay: calc(-3s * 5); }
    .company > img:nth-child(7) { animation-delay: calc(-3s * 6); }
    .company > img:nth-child(8) { animation-delay: calc(-3s * 7); }

    @keyframes company {
        0%      { margin-left: -100%; }
        10.41%  { margin-left: -100%; }
        12.5%   { margin-left: 0; }
        22.91%  { margin-left: 0; }
        25%     { margin-left: 100%; }
        100%    { margin-left: 100%; }
    }

    #c-pause:checked ~ .d-between .pause { display: none; }
    #c-pause:not(:checked) ~ .d-between .play { display: none; }
    #c-pause:checked ~ .company > img { animation-play-state: paused; }
}

/* /후원사 */

/* 푸터 영역 */
.footer { position: sticky; bottom: 0; }
.footer__top { background-color: #f7f7f7; }
.footer__bottom { background-color: #eee; }
/* /푸터 영역 */

/* 축제 연혁 */
.history {
    padding-left: 50px;
    position: relative;
}
.history__line {
    position: absolute;
    left: 25px;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: #d6a92c;
    transform: translateX(-50%);
}
.history__line::before,
.history__line::after {
    content: '';
    position: absolute;
    left: 50%; transform: translateX(-50%);
    width: 1em;
    height: 1em;
    border: 2px solid #d6a92c;
    background-color: #fff;
    border-radius: 50%;
}
.history__line::before { bottom: 100%; }
.history__line::after { top: 100%; }

.history__item { padding: 1em 0; }
.history__item strong { font-size: 1.2em; color: #d6a92c; position: relative; }
.history__item strong::before {
    content: '';
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0.6em;
    height: 0.6em;
    background-color: #d6a92c;
    border-radius: 50%;
}
.history__item p { font-size: 0.9em; color: #888; word-break: keep-all; }

/* /축제 연혁 */


/* 해시 모듈 */
.tag {
    width: 100%;
    padding: 1em;
    border-radius: 0.25em;
    border: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.tag__input {
    position: relative;
    width: 200px;
    height: 2em;
    border-bottom: 1px solid #ddd;
    font-size: 0.9em;
    color: #555;
}
.tag__input::before {
    content: '#';
}
.tag__input > input {
    border: none;
    background-color: transparent;
}
.tag__item {
    padding: 0.25em 0.5em;
    background-color: #d6a92c;
    color: #fff;
    font-size: 0.9em;
    border-radius: 2em;
    margin: 0.5em 0.5em;
}
.tag__item .remove { cursor: pointer; }


.example {
    position: absolute;
    left: 0; top: 100%;
    width: 100%;
}
.example__item {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 0.9em;
    padding-left: 0.5em;
    color: #555;
    border: 1px solid #ddd;
    background-color: #fff;
}
.example__item:not(:last-child) { border-bottom: 0; }
.example__item:hover { background-color: #f7f7f7; }
.example__item.active { background-color: #eee; }

.tag-error {
    font-size: 0.9em;
    color: #e22d43;
}


/* /해시 모듈 */


/* 장바구니 */
.buy-count {
    width: 100px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
}
/* /장바구니 */

/* 출품신청 */
#workspace {
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
}
.workspace__inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 1150px;
    height: 600px;
    background-color: #fff;
}
.tool {
    position: absolute;
    right: 0; top: 0;
    width: 50px; height: 100%;
    background-color: #f7f7f7;
    border-left: 1px solid #ddd;
}
.tool__item {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #888;
    cursor: pointer;
}
.tool__item.active {
    color: #e22d43;
}


.tab__search {
    display: flex;
    align-items: center;
}

.tab__search input {
    border: 1px solid #ddd;
    font-size: 0.95em;
    color: #555;
    padding-left: 0.5em;
    height: 2em;
}

.tab__search .icon {
    color: #888;
    cursor: pointer;
}

.tab__title {
    display: flex;
    align-items: center;
    height: 40px;
    line-height: 40px;
    margin-bottom: -1px;
}
.tab__title .tab {
    padding: 0 1em;
    border: 1px solid #ddd;
    font-size: 0.9em;
    height: 40px;
    margin: 0;
}
.tab__title .tab:not(:last-child){
    border-right: none;
}

.tab__content {
    width: 100%;
    border: 1px solid #ddd;
    padding: 1em;
}

.tab__content .tab {
    color: #555;
    line-height: 2em;
}

.tab__content .tab span.active {
    padding: 0 0.25em;
    background-color: #e22d43;
    color: #fff;
}

#tab-select:checked ~ .tab__title > :not(.select),
#tab-spin:checked ~ .tab__title > :not(.spin),
#tab-cut:checked ~ .tab__title > :not(.cut),
#tab-glue:checked ~ .tab__title > :not(.glue) {
    background-color: #eee;
}

#tab-select:checked ~ .tab__content > :not(.select),
#tab-spin:checked ~ .tab__content > :not(.spin),
#tab-cut:checked ~ .tab__content > :not(.cut),
#tab-glue:checked ~ .tab__content > :not(.glue) {
    display: none;
}

.context-menu {
    position: absolute;
    z-index: 10;
}

.context-menu__item {
    height: 40px;
    line-height: 40px;
    font-size: 0.9em;
    padding: 0.5em;
    color: #555;
    border: 1px solid #ddd;
}

/* /출품신청 */